@charset "utf-8"
@import "lake_layout.css";

@font-face{
   font-family:Champagne;
   src: url(cac_champagne.ttf) format('tff'),
      url(cac_champagne.woff) format('woff2'),
      url(cac_champagne.woff2) format('woff2');       
}
@font-face{
   font-family:Dobkin;
   src: url(DobkinPlain.tff) format('tff'),
      url(DobkinPlain.woff) format('woff'),
      url(DoblinPlain.woff2) format('woff2');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Jimmy Torres 
   Date: 9/16/19   
   
   Filename: lake_styles.css

*/

/* Structual Left Styles */
html{
   background-color: rgb(170, 149, 79);
}
body{
   background-color: rgb(253, 241, 206);
   padding-right: 0px;
}
header{
   background-color: blueviolet;
}
h1, h2{
   font-family: Champagne, cursive;
   font-size: 3em;
   font-weight: inherit;
   margin: 0px;
   padding: 0px;
}
nav a{
   text-decoration: none;
}
p{
   margin: 0px;
   padding-top: 5px;
   padding-right: 25px;
   padding-left: 25px;
   padding-bottom: 25px;
   font-size: 1.1em; 
}
footer{
   color:white;
   background-color: rgb(101, 101, 101);
   font-size: 1.1em;
   text-align: center;
   padding-top: 1px;
   padding-bottom: 1px;
}
/* Navigation Styles */
header nav a{
   font-family: 'Trebuchet Ms', Helvetica, sans-serif;
   padding-top: 10px;
   padding-bottom: 10px;
   color: white;
}

header nav a:hover{
   color: hsla(0, 0%, 100%, 0.7);
   background-color:rgb(131, 95, 160);
}
/* Section Styles */
#leftcol em{
   color: purple;
   font-size: 1.6em;
}
/* Aside Styles */
aside h1, h2{
   text-align: center;
   font-size: 2em;
}
aside a{
   color: white;
   text-decoration-color: black;
}
#aside1{
   background-color: rgb(201, 109, 109);
   padding-bottom: 24px;
}
#aside2{
   background-color: antiquewhite;
}
/* Section Right Styles */
#rightcol{
   background-color: rgb(209, 168, 209);
   padding-right: 0px;
}
#rightcol ul{
   list-style-type: none;
}
#rightcol a{
   color: black;
}
#rightcol h2:first-letter{
   font-size: 2em;
   vertical-align: baseline;
   font-family: Dobkin, cursive;
}
blockquote{
   font-family: Dobkin, cursive;
   font-size: 1.4em;
}
blockquote:before{
   content: open-quote;
}
blockquote:after{
   content: close-quote;
}